<section class="container">
  {{log post}}
  <h2 class="post-name">post:::: Post By: {{post.user.username}} @ {{post.createdAt}}</h2>
  <h3>{{post.name}}</h3>
  <h4>{{post.description}}</h4>
   <button class="delButton" value={{post.id}}>Delete</button>
  <section class="flex-row justify-left">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
    {{!-- <a href="/addComment">New Comment</a> --}}
  </section>
</section>

<script src="../js/delPost.js"></script>